@font-face {
  font-family: Roboto;
  src: url(/src/assets/Roboto-Regular.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: #e65158;
  --textLigth: #767676;
  --text: #6b6b6b;
  --textDark: #3b3b3b;
  --greyDark: #f4f4f4;
  --greyLine: #979797;
  --blue: #1797ff;
}
body {
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
